* {
  font-family: JetBrains Mono, sans-serif;
  font-size: 14px;
  min-height: 0;
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 0px;
}

#waybar {
  background: transparent;
  color: #c6d0f5;
  margin: 2px 2px;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#memory,
#custom-lock,
#custom-power,
#custom-notification,
#custom-brightness,
#idle_inhibitor,
#custom-app_drawer,
#custom-os-update {
  background-color: #1e2030;
  padding: 0.5rem 1rem;
  margin: 2px;
  border-radius: 5px;
}


#clock {
  color: #8caaee;
  border-radius: 5px;
  margin-right: 1rem;
}

#custom-brightness {
  color: #e5c890;
}

#custom-app_drawer {
  padding: 0 1.5rem 0 1rem;
  font-size: 24px;
  color: #aabbff;
}

#custom-os-update {
  color: #aabbff;
}
#pulseaudio {
  color: #ea999c;
  /* margin-left: 1rem; */
}

#custom-music {
  color: #ca9ee6;
  border-radius: 5px;
}

#custom-lock {
  border-radius: 5px 0px 0px 5px;
  color: #babbf1;
}

#custom-power {
  margin-right: 1rem;
  border-radius: 5px;
  color: #e78284;
}

#custom-notification {
  margin-right: 1rem;
  border-radius: 5px;
  color: #babbf1;
}

#idle_inhibitor {
  padding: 0 1.5rem 0 1rem;
  margin-right: 1rem;
  border-radius: 5px;
  color: #aabbff;
}

#tray {
  margin-right: 1rem;
  margin-left: 1rem;
}

#workspaces {
	margin-left: 12px;
	margin-bottom: 0;
	border-radius: 5px;
	background: #292c3c;
	transition: none;
}

#workspaces button {
	transition: none;
	color: #f8f8f2;
	background: transparent;
	font-size: 32px;
  font-weight: 500;
  font-family: "Noto Sans", sans-serif;
}

#workspaces button.active {
	transition: none;
	color: #c6a0f6;
	/* background: transparent; */
  /* border-bottom: 2px solid #aabbff; */
	font-size: 32px;
  font-weight: 900;
}

menu {
    border-radius: 15px;
    background: #181825;
    color: #f38ba8;
}
menuitem {
    border-radius: 15px;
}
