/* ----------- 💫 https://github.com/JaKooLit 💫 -------- */
/* wallust-wlogout */

@define-color foreground #F9E3DF;
@define-color background #151316;
@define-color background-alt rgba(21,19,22,1);
@define-color cursor #F9E3DF;
 
@define-color color0 #3D3A3E;
@define-color color1 #190E1E;
@define-color color2 #191F64;
@define-color color3 #482C5B;
@define-color color4 #5F3A79;
@define-color color5 #783E51;
@define-color color6 #B2827B;
@define-color color7 #EECEC9;
@define-color color8 #A6908D;
@define-color color9 #211328;
@define-color color10 #222985;
@define-color color11 #603A79;
@define-color color12 #7F4EA2;
@define-color color13 #A0536C;
@define-color color14 #EDAEA4;
@define-color color15 #EECEC9; 

window {
    font-size: 24pt;
    color: @color13; /* text */
    background-color: rgba(30, 30, 46, 0.8);
}

button {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
  margin: 10px;
  color: white; /* text */
  /* background-color: rgba(200, 220, 255, 0); */
  /* animation: gradient_f 10s ease-in infinite; */
  /* transition: all 0.3s cubic-bezier(.55, 0.0, .28, 1.682), box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out; */
  border-radius: 40px;
	/* border:0px; */
	/* outline-style: none; */
}

button:focus {
    /* background-size: 50%; */
	/* border: 0px; */
	/* outline-style: none; */

}

button:hover {
    background-color: transparent; 
    color: grey;
    background-size: 30%;
    /* margin: 30px; */
    border-radius: 70px;
    /* outline-style: dashed; */
}

/* Adjust the size of the icon or content inside the button */
button span {
    font-size: 1.2em; /* Increase the font size */
}


#lock {
    background-image: image(url("./icons/lock.png"));
}
#lock:hover {
    background-image: image(url("./icons/lock-hover.png"));
}

#logout {
    background-image: image(url("./icons/logout.png"));
}
#logout:hover {
    background-image: image(url("./icons/logout-hover.png"));
}

#suspend {
    background-image: image(url("./icons/sleep.png"));
}
#suspend:hover {
    background-image: image(url("./icons/sleep-hover.png"));
}

#shutdown {
    background-image: image(url("./icons/power.png"));
}
#shutdown:hover {
    background-image: image(url("./icons/power-hover.png"));
}

#reboot {
    background-image: image(url("./icons/restart.png"));
}
#reboot:hover {
    background-image: image(url("./icons/restart-hover.png"));
}

#hibernate {
    background-image: image(url("./icons/hibernate.png"));
}
#hibernate:hover {
    background-image: image(url("./icons/hibernate-hover.png"));
}
